---
---

$base-font-family: "Source Sans Pro", sans-serif !default;
$base-font-size: 16px !default;
$base-line-height: 1.5;

$brand-color: steelblue !default;
$background-color: white !default;

$content-width: 715px !default;

@import "minima", "minima/_syntax-highlighting";

html {
  -webkit-font-smoothing: antialiased;
}

a {
  color: black;
  text-decoration: underline;

  &:visited {
    color: black;
  }

  &:hover {
    color: $brand-color;
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Baskerville", serif;
}

.site-header {
  border-top: 0px;
  border-bottom: 0px;
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;

  position: relative;

  a,
  &:visited {
    color: #424242;
  }

  a.site-title,
  &:hover {
    color: none;
    text-decoration: none;
  }
}

/**
 * Blog
 */
.blog {
  h3 {
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
  }
}

h1.post-title.p-name {
  font-size: 38px;
}

/**
 * Bibliography
 */
.bibliography {
  list-style: square;
}

.bib {
  margin-bottom: 0.5rem;
}