---
---

$base-font-family: "Source Sans Pro", sans-serif !default;
$base-font-size: 16px !default;
$base-line-height: 1.5;

$brand-color: deepskyblue !default;
$background-color: white !default;
$site-title-color: #424242;
$text-color-light: #828282;
$highlight-color: #ffff0b;

$content-width: 715px !default;

@import "minima", "minima/_syntax-highlighting";

html {
  -webkit-font-smoothing: antialiased;
  ::selection {
    background: $highlight-color;
  }
}

a {
  color: $text-color;
  text-decoration: underline;
  text-decoration-color: $brand-color;

  &:visited {
    color: $text-color;
  }

  &:hover {
    color: $brand-color;
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Baskerville", serif;
}

figure {
  text-align: center;
}

figure > img {
  display: inline;
}

figcaption {
  font-size: $small-font-size;
  color: $text-color-light;

  a {
    color: $text-color-light;
    text-decoration-color: $text-color-light !important;

    &:hover {
      color: $brand-color !important;
      text-decoration-color: $brand-color !important;
    }
  }
}

/**
 * Site header
 */
.site-header {
  border-top: 0px;
  border-bottom: 0px;
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;

  // Positioning context for the mobile navigation icon
  position: relative;

  .wrapper {
    max-width: 100%;
  }

  a {
    color: $site-title-color;
    text-decoration: none;

    &:hover {
      color: $brand-color;
    }
  }

  a.site-title,
  &:hover {
    color: $site-title-color;
    text-decoration: none;
  }
}

/**
 * Home
 */
article.preview {
  .excerpt a {
    text-decoration-color: $text-color
  }
}

/**
 * Posts
 */
.post-title {
  @include relative-font-size(2.375);

  @include media-query($on-laptop) {
    @include relative-font-size(2.376);
  }

  line-height: 1.2;
}

.post-content {
  a {
    text-decoration-color: $text-color;

    &:hover {
      color: $text-color;
    }
  }
}

.post-meta {
  color: $text-color-light;

  a {
    color: $text-color-light;
    text-decoration: none;
  
    &:hover {
      color: $text-color-light !important;
      text-decoration: underline;
      text-decoration-color: $text-color-light;
    }
  }

  a.page-link {
    color: $text-color;
    text-decoration: underline;
    text-decoration-color: $brand-color;
  
    &:hover {
      color: $brand-color !important;
      text-decoration: underline;
      text-decoration-color: $brand-color;
    }
  }
}

.post-list {
  h3 {
    margin-bottom: 0px;

    a {
      text-decoration: none;
    }
  }
}

/**
 * Tags
 */
.tags {
  a {
    text-decoration: none;
  }
}

/**
 * Notes
 */
.note {
  line-height: 1.6;

  h1 {
    font-size: 1.75em;
  }
  h1.post-title {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em;
  }

  h4 {
    font-size: 0.875em;
  }
}

/**
 * Bibliography
 */
.bibliography {
  list-style: square;
}

.bib {
  margin-bottom: 0.5rem;

  a.bib-tag {
    color: $text-color;
    text-decoration: none;
    &:hover {
      color: $brand-color;
    }
  }
}
