---
layout: default
---

<div class="home">
  {{ content }}
</div>

{% assign pinned_post_names = "2020-12-16-testing.md, 2023-04-21-observability.md, 2021-12-21-search.md" | split: ", " %}
{%- if site.posts.size > 0 -%}
<br>
<br>
<article class="preview">
  <h2 class="post-list-heading">Pinned Blog Posts</h2>
  <div class="post-list">
    {%- for pinned_post_name in pinned_post_names -%}{%- for post in site.posts -%}{%- if post.name == pinned_post_name -%}
    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    <h3>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {%- for tag in post.tags -%}{%- if tag == "#placeholder" -%}(upcoming)&nbsp;{%- endif -%}{%- endfor -%}
        {{ post.title | escape }}
      </a>
    </h3>
    <div class="excerpt">
      {{ post.excerpt | markdownify }}
    </div>
    {%- endif -%}{%- endfor -%}{%- endfor -%}
  </div>
  <div style="text-align: right">
    <span class="post-meta">... see more in <a class="page-link" href="{{ site.base }}/blog/">blog</a></span>
  </div>
</article>
{%- endif -%}

{% assign pinned_note_names = "2022-03-28-design.md, 2022-01-14-awesome.md, 2022-01-16-ros.md" | split: ", " %}
{%- if site.notes.size > 0 -%}
<br>
<article class="preview">
  <h2 class="post-list-heading">Pinned Notes</h2>
  <div class="post-list">
    {%- for pinned_note_name in pinned_note_names -%}{%- for post in site.notes -%}{%- if post.name == pinned_note_name -%}
    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    <h3 class="post-item-title">
      <a class="post-link" href="{{ post.url | relative_url }}">
        {%- for tag in post.tags -%}{%- if tag == "#placeholder" -%}(upcoming)&nbsp;{%- endif -%}{%- endfor -%}
        {{ post.title | escape }}
      </a>
    </h3>
    <div class="excerpt">
      {{ post.excerpt | markdownify }}
    </div>
    {%- endif -%}{%- endfor -%}{%- endfor -%}
  </div>
  <div style="text-align: right">
    <span class="post-meta">... see more in <a class="page-link" href="{{ site.base }}/notes/">notes</a></span>
  </div>
</article>
{%- endif -%}