---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        Posted on {{ page.date | date: "%b %-d, %Y" }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
      {%- if page.updated -%}
        • <time class="dt-published" datetime="{{ page.updated | date_to_xmlschema }}" itemprop="datePublished">
          Updated on {{ page.updated | date: "%b %-d, %Y" }}
        </time>
      {%- endif -%}
      {% assign post_words = content | number_of_words %}
      • <span>{{ post_words | plus: 180 | divided_by:180 }} min read</span>
      {%- if page.tags.size > 0 -%}
      <br>
      {% for tag in page.tags %}
        <a class="post-meta" href="/tags.html#{{ tag }}">{{ tag }}&nbsp</a>
      {% endfor page.tags %}
      {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
    {%- if site.utterances.repo and page.comments -%}
      {% include utterances.html -%}
    {%- endif -%}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
